<header class="top-header pure-u-1">
  <div class="pure-menu pure-menu-open pure-menu-horizontal">
    <ul class="top-nav">
      <li>
        <a href="https://echoplex.us">Features</a>
      </li>
      <li>
        <a href="https://echoplex.us#motivation">Motivation</a>
      </li>
      <li>
        <a href="https://echoplex.us#whatsnew">News</a>
      </li>
      <li>
        <a href="{{@blog.url}}">Blog</a>
      </li>
      <li>
        <a href="http://shop.echoplex.us">Shop</a>
      </li>
      <li>
        <a class="iconal external different-context" href="https://github.com/qq99/echoplexus" target="_blank" title="Echoplexus on Github">
          <i class="fa fa-github"></i>
        </a>
      </li>
      <li>
        <a class="iconal external different-context" href="https://twitter.com/echoplexus" target="_blank" title="Echoplexus on Twitter">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="{{@blog.url}}/rss/" class="iconal external different-context">
          <i class="fa fa-rss"></i>
        </a>
      </li>
    </ul>
  </div>
</header>
