{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<div class='flashy' style='height: 500px;'>
  <header class='flashy-header'>
    echoplexus
  </header>
  <img class='flashy-logo' height='180' src='https://echoplex.us/img/echoplexus-logo.png' width='180'>
</div>
<div class="main-content">
  {{> "header"}}

  {{! The main content area on the homepage }}
  <section id="content" class="content" role="main">
    <div class="readable-section">

      {{! The tag below includes the post loop - partials/loop.hbs }}
      {{> "loop"}}
    </div>
  </section>
</div>
